.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.text {
    font-size: 1.6rem;
}
.link {
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}
