.list {
    /* font-size: 1.8rem; */
    margin-top: 10px !important;
}
.listItem,
.listItem_noLink {
    margin-top: 10px;
    min-width: min-content !important;
    max-width: 200px !important;
}
.listItem:hover {
    text-decoration: underline;
}
